@font-face {
    font-family: 'Amoria';
    src: url(fonts/AMORIA.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aurora';
    src: url(fonts/Aurora.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pixel';
    src: url(fonts/Minecraft.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: rgb(49, 49, 50);
    color: rgb(206, 209, 216);
    font-family: 'monospace', monospace;
    font-size: 16px;
}
h1 {
    border-bottom: 3px solid rgb(255, 255, 255);
    font-family: 'Aurora', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
#club-selection {
    padding: 7px;
    border-radius: 15px;
    width: 255px;
    height: 40px;
}

#club-outputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    padding: 24px;
    border-radius: 10px;
    background-color: rgba(103, 102, 112, 0.2);
}

#club-outputs h2 {
    text-align: center;
    margin-bottom: 24px;
    color: rgb(255, 200, 124);
}

#club-outputs p {
    text-align: left;
    margin: 8px 0;
}
